<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scraper HW</title>
    
    <style>
    body {
  background-color: linen;
    }

    h1 {
  color: maroon;
  margin-left: 40px;
    }
    #title {
        font-size: 80px;
        text-align: center;
        color: maroon;
    }
    .articleContainer {
        width: auto;
        height: 100px;
        border: 1px solid black;
    }
    .articleTitle {
        background-color: maroon;
        color: White;
        text-align: left;
        font-size: 40px;
    }
    .articleBlurb {
        font-size: 30px;

    }
    .articleNotesBtn {
        position: relative;
        left: 1400px;
    }
    .saveArticleBtn {
        position: relative;
        left: 1400px;

    }
    </style>

</head>

<body>
    {{{ body }}}
</body>

</html>