<div id="title"> NPR World News Scraper</div>

<div id="scrapedArticlesTable">
    <div class="articleContainer" style="width: auto">
        <div class="articleTitle"> Article Title
            <button class="articleNotesBtn">Article Notes</button>
            <button class="saveArticleBtn">Save Article</button>
        </div>

        <div class="articleBlurb">Article Blurb</div>
    </div>
</div>